<div class="columns">
    <div class="column is-one-quarter">
        @if (pokemon.id && pokemonSpecies.id) {
        <div class="box" >
                <div class="content">
                    <h5 class="card-header-title is-justify-content-center">#{{pokemon.id}} {{pokemon.name | titlecase}}</h5>
                </div>
                <div class="content">
                    <figure class="image is-flex">
                        @defer (on viewport; prefetch on idle) {
                            <img
                            ngSrc="{{imgUrl}}"
                            width="128" height="128"
                            alt="{{pokemon.name}}"
                            priority
                            />
                        } @placeholder (minimum 200ms) {
                            <div class="content">
                                <img
                                ngSrc="/assets/pokeball.jpg"
                                width="128" height="128"
                                alt="pokeball"
                                priority
                                />
                            </div>
                        }
                    </figure>
                    <div class="columns">
                        <div class="column is-half">
                            @if (pokemon.cries) {
                                <audio [volume]="0.25" #ref [src]="pokemon.cries.latest" type="audio/ogg">Can not play pokemon sound</audio>
                                <button (click)="ref.play()">
                                    <span class="icon">
                                        <i class="fa fa-volume-up fa-lg" aria-hidden="true"></i>
                                    </span>
                                </button>
                            } 
                        </div>
                        <div class="column">
                            <label class="checkbox">
                                <input type="checkbox" [ngModel]="shiny" (ngModelChange)="onShinySelected($event)"/> Shiny
                            </label>
                        </div>
                    </div>
                        <p>Habitat: @if (pokemonSpecies.habitat) {  {{pokemonSpecies.habitat.name | titlecase}}  } </p>
                        <p>{{ pokemonSpecies.flavor_text_entries | flavourTextLanguage: "en"}}</p>
                </div>   
        </div>
    }
    </div>
    <div class="column is-one-third">
        <app-stats-detail [stats] = "pokemon.stats" ></app-stats-detail>
    </div>
</div>
