<div class="box is-inline-flex custom-radius" [id]="id+text" 
(click)="onClick()">
    <div class="card-content">
        <div class="is-flex is-justify-content-center">
            <figure class="image">
                @if (imgUrl) {
                    <img
                    [ngSrc]="imgUrl"
                    [alt]="text"
                    width="128" height="128"
                  />
                } @else {
                    <img
                    ngSrc="/assets/poke-ball.png"
                    alt="poke-ball"
                    width="128" height="128"
                    priority
                  />
                }
                
            </figure>
        </div>
        <div class="has-text-centered">
            <h6 class="subtitle is-6"> @if(id > 0) {#{{id}}} {{text | titlecase}}</h6>
        </div>
    </div>
</div>